.text {
    opacity: 0;
    font-size: 24px;
    color: #333;
    transition: opacity 1s ease-in-out;
}
.text:hover {
    opacity: 2;
}




.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ;
}
.button:hover {
    transform: rotate(145deg);
}






img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
img:hover {
    opacity: 1;
    transform: scale(1.2);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #f4f4f4;
}





.box {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    position: absolute;
    transition: transform 1s ;
}

.box.one {
    animation: slide-in 1s forwards;
}
.box.two {
    animation: slide-in 1s forwards 0.3s;
}


@keyframes slide-in {
    from {
        transform: translate(+100vw, +100vh);
    }
    to {
        transform: translate(150, -100);
    }
}