table {
    width: 100%;
    border-collapse: collapse;
    font-family: cursive;
    text-align: center;
    font-weight: bold;

}

.first {
    height: 100px;
    background-color:rgb(4, 219, 148);
    
}

.two{
    background-color:rgb(178, 255, 229);
}

tr{
    background-color:rgb(4, 219, 148);
}

text{
    color: white;
}
