body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.square {
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}


.rotate {
    background-color: #ff6666;
}
.rotate:hover {
    transform: rotate(45deg);
    background-color: #ff3333;
}


.scale {
    background-color: #66b3ff;
}
.scale:hover {
    transform: scale(1.5);
    background-color: #3399ff;
}


.translate {
    background-color: #66ff66;
}
.translate:hover {
    transform: translateX(50px);
    background-color: #33cc33;
}


.skew {
    background-color: #ffcc66;
}
.skew:hover {
    transform: skew(20deg, 20deg);
    background-color: #ff9933;
}
