*{
    padding: 0;
    margin: 100px;
    box-sizing: border-box;

}


:root {
    --color:red;
    --font-size:2.5em;
    --font-family:cursive;
    --border: 10px;
    --border-radius: 20px;
    --margin: 100px;
    --padding: 0px;
    box-shadow: none;

}

div{
    color: var(--color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    border: var(--border);
    border-radius: var(--border-radius);
    margin: var(--margin);
    padding: var(--padding);
    height:400px;
    width:400px;

}


button{
    color: var(--color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    border: var(--border);
    border-radius: var(--border-radius);
    margin: var(--margin);
    padding: var(--padding)

}
